@{
    ViewBag.Title = "Training";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-xs-6 col-md-4">
    <div class="thumbnail tile tile-medium tile-blue">
        <a href="@Url.Action("Index", "Guessing")">
            <h1>
                Guess (?)
            </h1>
        </a>
    </div>
</div>